*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
/freedata
/apply_live_app.gradle
/DeOnline.gradle
/deLocal.gradle
/streaming/bililiveUI/

*.local_module
